html,body{
   margin:0;
   padding:0px;
   background:white;
   height: 100%;
}

#x3dContainer {
	position:absolute;
	margin-top:0px;
	margin-bottom:0px;
	top:2px;
/*	height:100%; */
	left:2px;
	right:2px;
	bottom: 2px;
	border: 1px solid #e6e6e6;
	border-radius: 15px 15px 15px 15px ;
	overflow: hidden;
}

#x3dElement {
    /*background:#000 url(http://www.x3dom.org/x3dom/example/texture/solarSystem/starsbg.png);*/
	bottom: 20%;
 }

#headerInfo {
    display:block;
    width:20%;
    position:absolute;
    top:0px;
    text-align: center; 
    background:white;
    height:30px;
    z-index:5;
    margin-top:5px;
    margin-left:40%;
    margin-right:40%;
    border: 1px solid #e6e6e6;
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
}

#body {
   padding:0px;
   padding-bottom:60px;   /* Height of the footer */
}

#footer {
   position:absolute;
   height:30px;  
   bottom:5px;
   width:30%;
   margin-left:100px;
   margin-right:100px;
   background:white;
   text-align:center;
   color:black;
   border: 1px solid #e6e6e6;
   border-bottom: 0px;
   border-radius: 15px 15px 0px 0px ;
}



#docs {
   position:absolute;
   left:1px; 

   top:270px;
   margin-right:0px;
   background:white;
   padding:3px;
   max-height:80%;
   overflow: auto;
   overflow-x:hidden;
   color:black;
   border: 1px solid #e6e6e6;
   border-right: 0px;
   z-index:5;
}

#shortdesc {
   position:absolute;
   left:40px; 

   top:6px;
   margin-right:0px;
   background:white;
   padding:3px;
   max-height:80%;
   overflow: auto;
   overflow-x:hidden;
   color:black;
   border: 1px solid #e6e6e6;
   border-right: 0px;
   border-radius: 15px 0px 0px 15px ;
   z-index:5;
}

#info {
   position:absolute;
   right:5px; 

   top:50px;
   width:250px;
   margin-left:100px;
   margin-right:0px;
   background:white;
   padding:10px;
   max-height:80%;
   overflow: auto;
   overflow-x:hidden;
   color:black;
   border: 1px solid #e6e6e6;
   border-right: 0px;
   border-radius: 15px 0px 0px 15px ;
}
/*
a:link, ul a:visited {
    color:#575757;
    text-decoration:none;
}
*/

x3d {
	margin:0px;
	padding:0px;
	border:none;
	height:100%;
	width:100%;
}

#x3dom_controls ul {
    color:white;
    padding: 0;
    list-style-type: none;
    }
    
#x3dom_controls {
    position: absolute;
    top: 50px;
    opacity: 1.0;
    margin-left:5px;
    border: 1px solid #e6e6e6;
    border-left: 0px;
    background-color:white;
    border-radius: 0px 15px 0px 15px;
    padding:5px;
    z-index:1
    
}

#x3dom_controls div{
    font-weight: bold;
    padding-left: 10px;
}

.box {
    border: 1px solid #e6e6e6;
    border-radius: 15px;
    margin-top:5px;
}

.x3dom-logContainer {
    bottom: 0px;
    position: absolute;
    left: 2px;
    right: 2px;
    height: 20%;
/*    z-index: 0;*/
}
/*.x3dom-logContainer {
    border: 2px solid olivedrab;
    top: 200px;
    height: 200px;
    bottom: 20%;
    padding: 4px;
    overflow: auto;
    white-space: pre-wrap;
    font-family: sans-serif;
    font-size: x-small;
    color: #00ff00;
    background-color: black;
    margin-right: 10px;
}*/